<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="https://www.babcock.edu.ng/assets/images/favicon.png"/>

    <title>Babcock SMS</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                <a class="navbar-brand" rel="home" href="#">
                    <img style="max-width:100px; margin-top: -7px;"
                         src="https://applications2.babcock.edu.ng/babcock/assets/landing/images/bu_logo_main_white_bg.jpg">
            </div>
           <div class="collapse navbar-collapse" id="myNavbar"> 
              <ul class="nav navbar-nav navbar-right">
                 <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                     
              </ul>
           </div>
        </div>
     </nav>
    
    
            <div class="container">
                <center>
                    <h2>Babcock Short Message Service Portal</h2>
                </center> 
                    <div class="alert alert-success">
                         <strong>Welcome Admin!</strong> Send All Messages Here! 
                    </div>
            </div>