<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="https://www.babcock.edu.ng/assets/images/favicon.png"/> 

    <title>SMS Portal</title>
</head>
<body>
   
    <div
        <nav class="navbar navbar-light bg-transparent">
            <a class="navbar-brand" href="#">
                <img style="max-width:100px; margin-top: -7px;"
                src="https://applications2.babcock.edu.ng/babcock/assets/landing/images/bu_logo_main_white_bg.jpg">  
            </a>
            <br><br><br><br>
      </nav>
    </div> 