<%- include ('partials/headerout') %>



 <div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <h2> Error! </h2>
          <h4 style="color: red"> <%= error %> </h4>
          <a href=<%= returnUrl %> > Back </a>
        </div>

      </div>
	</div>
</div>

<%- include ('partials/footer') %>